<html>
    <head>
        <script type ="text/javascript" src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
         <title>Customer Core</title>
         <link href="{{url_for('static', path='/styles.css') }}" rel="stylesheet">
         
        
    </head>
<body>
    <div id="header">
        <link rel="icon" type="image/x-icon" href="{{url_for('images', path='/favicon.ico') }}">
        <h1>Customer Core Database</h1>

        <h4>User: {{user_name}}</h4>
</div>
</body>


</html>