<html>
    <head>
        <script type ="text/javascript" src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
         <title>Menu</title>
         <!-- <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"> -->
         <meta charset="UTF-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0" />
         <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
       
      
     </head>
<body>
    
    <nav id="menu">
        <a class="dark:hover:bg-slate-50 dark:hover:text-pink-950" href="/customers/">Customers</a><br>
        <a class="dark:hover:bg-slate-50 dark:hover:text-pink-950" href="/reports/">Reports</a><br>
        <a class="dark:hover:bg-slate-50 dark:hover:text-pink-950" href="/users/">Users</a><br>
        <a class="dark:hover:bg-slate-50 dark:hover:text-pink-950" href="/logout/">Logout</a>
    </nav>
</body>
</html>