<html>
    <head>
        <script type ="text/javascript" src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
         <title>Item Details</title>
         <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
         
      
        
     </head>
<body>
    <img src="{{url_for('images', path='/menu_img.png')}}" id="menu_button">
    <nav id="menu">
        <a class="menuitem" href="/customers/">Customers</a><br>
        <a class="menuitem" href="/reports/">Reports</a><br>
        <a class="menuitem" href="/users/">Users</a>
        <a class="menuitem" href="/Logout/">Logout</a>
    </nav>
</body>
</html>